<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('common/head.ejs', { pageTitle: 'Equally' }); %>
<body>
    <%- include('common/nav.ejs'); %>
    <main class="main">
        <div class="page-header">
            <h4 class="heading">Equally</h4>
        </div>
    </main>
    <%- include('common/footer.html'); %>
</body>

</html>