<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('common/head.ejs', { pageTitle: 'In Full' }); %>
<body>
    <%- include('common/nav.ejs'); %>
    <main class="main">
        <div class="page-header">
            <h4 class="heading">In Full</h4>
            <a href="/in-full-chart-1"><button class="button sized">Visualize</button></a>
        </div>
        <%- include('common/table.ejs', { tableId: 'resources' }); %>
    </main>
    <%- include('common/footer.html'); %>
</body>

</html>