<!-- in-full.ejs-->
<!DOCTYPE html>
<html lang="en">
<%- include('../common/head.ejs', { pageTitle: 'Visualize' }); %>
<body>
    <%- include('../common/nav.ejs'); %>
    <main class="main">
        <div class="page-header">
            <h4 class="heading">In Full - Vizualization</h4>
        </div>
        <canvas id="in-full"></canvas>
    </main>
    <%- include('../common/footer.html'); %>
</body>
<script src="charts/in-full-config.js" defer></script>
</html>