<!-- table.ejs -->
<div class="table-area shadow table-responsive">
    <table id="<%= tableId %>" class="table-hover table" style="width:100%">
        <%- include('build-table.ejs'); %>
    </table>
</div>